:host {
  display: flex;
  justify-content: center;
}

.project-lists, .new {
  font-size: 1.8rem;
}

.project, .customer, .supplier {
  font-size: 1.4rem;
}

.project-lists, .new {
  color: #2F85FA;
  font-weight: 600;
}

.new {
  margin-top: 1.0rem;
  text-decoration: none;
}

.project {
  color: #333333;
  font-weight: 600;
}

.customer, .supplier{
  color: #666666;
}

.project-action {
  grid-column: 1 / 2;
}

.flex-column.project-action {
  width: 10rem;
  justify-self: center;
  margin-top: 4rem;
  gap: 2.0rem;
}

/*.flex-column.project-action:after {*/
/*  content: '';*/
/*  width: 0;*/
/*  height: 80%;*/
/*  position: absolute;*/
/*  border: 1px solid black;*/
/*  top: 0;*/
/*  left: 200px;*/
/*}*/
