<main>
  <div class="container flex-column padding-top-md">
    <div class="icon-title full-width">
      <mat-icon class="lock-icon">lock</mat-icon>
      <p class="sign-in">Sign in</p>
    </div>
    <div class="container-form full-width">
      <form class="form" action="#">
        <input
          class="email"
          type="email"
          placeholder="Email Address *"
          required
        />

        <input
          class="password"
          type="password"
          placeholder="Password *"
          required
        />

        <div class="flex-row full-width">
          <input class="check-box" type="checkbox" />
          <label class="remember-me">Remember me</label>
        </div>

        <button class="btn-sign-in">SIGN IN</button>
      </form>
    </div>

    <div class="flex-row-links full-width margin-bottom-md">
      <a class="forgot-password" href="#">Forgot password?</a>
      <a class="sign-up" href="#">Don't have an account? Sign Up</a>
    </div>

    <div class="copyright full-width">
      <p>
        Copyright © <a class="your-website" href="#">Your Website</a> 2023.
      </p>
    </div>
  </div>
</main>
